.header {
    padding: 20px 0;
    background: var(--header-bg);
    color: var(--header-text);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#productsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.title {
    text-align: center;
    margin: 20px 0;
}


footer {
    height: 150px;
    background: var(--footer-bg);
    color: var(--footer-text);
    
}
.footer-text1{
    display: flex;
    justify-content: center;
    gap: 11px;
    padding-top: 50px;
    font-size: 30px;
    
}

.list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

.img1 {
    width: 130px;
    height: 130px;
    display: flex;
}

.ToDoList {
    margin-top: 100px;
}

.box1 {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
}
#todoForm{
    width: 700px;
    display: flex;
    justify-content: center;    
    border: 2px solid #000;
    padding: 5px;
    border-radius: 5px;
    gap: 10px;

}   
#todoForm input{
    border: none;
}


#searchInp {
    font-size: 27px;
    width: 680px;
    padding: 0px 5px;
}
h1{
    display: flex;
    justify-content: center;
    margin-top: -30px;
    margin-bottom: 20px;
    color: #121251;
}
.list-item {
    padding: 5px 5px;
    background: var(--card-bg);
    color: var(--card-text);
    border-radius: 11px;
    max-width: 700px;
    font-size: 30px;
    margin-bottom: 10px;
    display: flex;
    margin-inline: auto;
    justify-content: space-between;

}
.foot-text2{
    margin-top: 20px;
}
.list-item i {
    cursor: pointer;
}
.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 100px;
    z-index: 100;
    border: 1px solid #000;
    background: var(--footer-bg);
    border-radius: 11px;
}
.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #0000005c;
    z-index: 10;
}
.hidden{
    display: none;
}